// Primereact styles
//theme
@import "primereact/resources/themes/lara-light-indigo/theme.css";
//core
@import "primereact/resources/primereact.min.css";

// 基本設定
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  overflow: auto;
}
