
  
.logo_img {
  max-width: initial;
  width: 148px;
  height: 48px;
}

.top_row {
  padding: 28px 0 48px;
  border-bottom: 1px solid #F1F1F1;
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 28px 0 0;
  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
    @apply text-black;
  }
  .icon_box {
    display: flex;
    .icon {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        cursor: pointer;
        rect {
          @apply fill-primary;
        }
        path {
          @apply fill-white;
        }
      }
    }
  }
}

@media (max-width: 640px) { 
  .logo_img {
    width: 111px;
    height: 36px;
    margin: auto;
  }
  .top_row {
    padding: 8px 0 24px;
    text-align: center;
  }
  .bottom_row {
    flex-direction: column;
    align-items: center;
    padding: 12px 0 0;
    .icon_box {
      display: flex;
      padding: 0 0 12px;
    }
  }
  
}